<div class="container" ui-jp="loadStyleCss" style="opacity: 1; -webkit-transform: translate3d(0,0,0); -moz-transform: translate3d(0,0,0); -o-transform: translate3d(0,0,0); transform: translate3d(0,0,0);">
    <div class="p-h-md p-v bg-white box-shadow pos-rlt">
        <h3 class="no-margin">组件</h3>
    </div>
    <div class="box">
        <div class="col-md-9 b-l bg-auto">
            <form role="form" id="profile-form" class="p-md" method="post">
                <div class="form-group">
                    <label>生日</label>
                    <input type="text" placeholder="yyyy-MM-dd" ng-model="ss" j-date>
                    <input type="text" placeholder="hh:mm" ng-model="ss" j-time>
                </div>
                <div class="form-group" style="margin-top: 20px;">
                    <button type="button" class="btn btn-primary" data-template="/Index/testGetDropdownHtml" j-dropdown>购车计划</button>
                </div>
                <div class="form-group">
                    <button type="button" class="btn btn-danger" data-template="/Index/testGetAsideHtml/type/aside" j-aside>Aside Bottom</button>
                </div>
                <div class="form-group">
                    <button type="button" data-template="/Index/testGetAsideHtml/type/modal" class="btn btn-info" j-alert>Alert</button>
                </div>
                <div class="form-group">
                    <a href="" j-tooltip data-placement="right" data-type="info" data-title="什么也不干">tooltip</a>
                </div>
                <br/>
                <br/>
                <br/>
                <br/>
                <br/>
                <br/>
                <br/>
                <br/>
                <br/>
                <br/>
                <br/>
                <br/>
                <br/>
                <br/>
                <br/>
                <br/>
                <br/>
                <pre>end of page</pre>
            </form>
        </div>
    </div>
    <form name="form" action=""></form>
</div>